{% extends 'base.html' %}
{% block title %}
Supprimer un participant | 
{% endblock title %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h1 class="text-center">Tennis</h1>
    </div>
    <div class="card-body">
    	<h4>Veux-tu supprimer le participant: <strong>{{participant}}</strong>?</h4>
        <form method="post">
            {% csrf_token %}
            <div class="d-inline-block">
    		<a href="{%url 'tennis:index'%}" class="btn btn-lg btn-secondary"> Annuler</a>
    		</div>
            <div class="d-inline-block">            	
            		<input type="submit" class="btn btn-lg btn-danger" value="Confirmer">
            </div>
        </form>
    </div>
</div>
{% endblock content %}